body, .jumbotron {
  background: #000;
  color: #fff;
  font-family: 'Nova Square';
} 
.jumbotron {
  margin: 0 auto;
}
#Logo {
  height: 50px;
  width: 50px;
}
.img-thumbnail {
  height: 400px;
  width: 350px;
}