.jumbotron, .container {
  background: #000;
  color: #f2f2f2;
  font-family: 'Nova Square';
} 
body {
  background: #aa0618;
}
.jumbotron {
  margin: 0 auto;
}
#Logo {
  height: 50px;
  width: 50px;
}
.img-thumbnail {
  height: 400px;
  width: 350px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
p {
  font-size: 17px;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2,  {
  margin-top: 20px;
  margin-bottom: 20px;
}
.foooter {
  margin-top: 30px;
  padding-bottom: 10px;
}
.gallery {
  margin-top: 30px;
  margin-bottom: 10px;
}